[submodule "todo-user"]
	path = todo-user
	url = git@github.com:Wallace-F-Rosa/todo-user.git
[submodule "todo-tasks"]
	path = todo-tasks
	url = git@github.com:Wallace-F-Rosa/todo-tasks.git
[submodule "todo-web"]
	path = todo-web
	url = git@github.com:Wallace-F-Rosa/todo-web.git
